html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Universal</title>
    </head>
    <body>
        <div>
        <blockquote>
            he blockquote element is used to indicate the quotation of a large section of text from another source. Using the default HTML styling of most web browsers, it will indent the right and left margins both on the display and in printed form, but this may be overridden by Cascading Style Sheets (CSS).
        </blockquote>
        <img width="200" height="200" src="images/sweet.jpg">
        <p><strong>Ambedkar </strong>was very intelligent.
             He was the only Dalit to be enrolled in <i>Elphinstone High School.</i>
              His suffering at the hands of upper caste students
               and society made him to fight against untouchability
                and caste discrimination. In 1935 he was appointed as the 
                principal of Government Law College, Mumbai</p>
                
                </div>
             
       
    </body>
</html>